exportClass(Gaussian)
export(Player, Gaussian, Team)
export(Multiply, Divide)
exportMethods("*", "/")
export(Parameters, DrawProbability, DrawMargin) 
export(PrintList)
export(PrintPlayers)
export(GetPlayers)
export(Trueskill)
export(Trueskill.data.frame)
export(Trueskill.list)

